{% extends "fragment/_navbar.html.twig" %}



{% block content %}
<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped">
          <thead class="thead-dark">
            {# grosse condition #}
            {% for leServiceDuUser in lesServicesDuUser %}
            {% if leServiceDuUser.nbDroitUtiliser > leServiceDuUser.service.nbDroit %}
            <h3>Vous avez dépasser le nombre maximal d'utilisation du service {{  leServiceDuUser.service.nom }}</h3>
            <h3> soit vous enlever le service soit vous payer 100€</h3>
            <a href={{path('attentionChoix')}} class="btn btn-primary">payer pour utiliser encore une fois le
              service</a>
            <a href={{path('deleteService', {'idServicesDuUser': leServiceDuUser.id})}} class="btn btn-danger">enlever
              ce service</a>
            <br>
            <br>
            {% endif %}
            {% endfor %}
           

            <left>
              <h2>Vos Services</h2>
            </left>
            <br>
            <br>
            <tr>
              <th scope="col">Nom des services choisies</th>
              <th scope="col">nombres de droits des services</th>
              <th scope="col">utiliser un service</th>
              <th scope="col">enlever ce service</th>
            </tr>
          </thead>
          <tbody>
            <h5>Vous pouvez utilisez chaque service une fois par jour</h5>
            {% for leServiceDuUser in lesServicesDuUser %}
            <tr>
              <td>{{ leServiceDuUser.service.nom }}</td>
              <td>{{ leServiceDuUser.service.nbDroit }}</td>

              {% if leServiceDuUser.statutDuServiceDuUser== 1 %}
              <td><a href="#" class="btn btn-success disabled" role="button" aria-disabled="true">ce service est
                  utilisé</a>
              </td>
              {% else %}
              <td><a class="btn btn-success" href={{path('ceService', {'idServiceDuUser': leServiceDuUser.id})}}>
                  utiliser ce service</a></td>

              <td><a href={{path('deleteService', {'idServicesDuUser': leServiceDuUser.id})}}
                  class="btn btn-danger">enlever ce service</a></td>
              {% endif %}
              <td></td>
            </tr>

            {% endfor %}
          </tbody>
        </table>
        <br>
        <left><a href={{ path('listeServiceSansPack',{'idPack':idPack}) }} class="btn btn-primary">ajouter un autre
            service</a></left>

        <div class=pull-right><a href={{ path('home') }} class="btn btn-primary">retour à l'accueil</a></div>
        {# grosse condition #}
      
       
      </div>
    </div>
  </div>
</div>
{% endblock %}